@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply from-secondary-100 to-secondary-50 bg-gradient-to-tl text-dark-900;
}

button:active {
  @apply scale-95 transition-transform
}

h1 {
  @apply text-2xl font-bold my-2
}


/* .light-blue-gradient {
  @apply from-secondary-100 to-secondary-50 bg-gradient-to-br
}

.border-light-blue {
  @apply border-[1px]   border-dark-50  xl:rounded-xl
}

.light-blue-card {
  @apply light-blue-gradient border-light-blue xl:rounded-xl
} */

/* Scrollbar stil globalno */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.secondary.50');

}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.dark.100');
  border-radius: 6px;
}

/* Firefox podrška */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.dark.100') theme('colors.secondary.50');
}

/* hr {
  @apply   border-dark-50  border-opacity-30;
} */

/* input,
select {
  @apply w-full p-2 rounded-md bg-secondary-100 bg-opacity-10 appearance-none border-b-[1px] border-r-[1px]   border-dark-50  border-opacity-30;

  &:focus {
    @apply outline-none
  }
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-moz-search-cancel-button {
  display: none;
}

.card {
  @apply border-[1px] xl:rounded-xl p-4 bg-light border-dark-50
}

.card.card--accent {
  @apply !bg-secondary-100 !border-secondary-200
}

.blur-light {
  /* From https://css.glass */
  background: rgba(249, 251, 254, 0.87);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
}